body {
    margin: 0;
    background-color: aliceblue;
    width: 100%;
    height: 100vh;
}

.header {
    width: 100%;
    height: 20vh;
    background-color: dimgray;
}

.main-content {
    margin: 0 auto;
    width: 75%;
    height: 70vh;
    background-color: azure;
}

.footer {
    background-color: black;
    margin: 0 auto;
    width: 75%;
    height: 10vh;
}